language: node_js

services:
  - docker

node_js:
  - 10

install:
  - npm install typescript

script:
  - npm run lint
  - npm run build
  - npm run coverage

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t yashkumarverma/attendance-backend .
  - docker push yashkumarverma/attendance-backend
